.objective {
	display: flex;
	gap: 30px;

	margin-top: 36px;
}

.objective-firefox {
	display: flex;
	gap: 30px;
	position: absolute;
	bottom: 0;
}

.rectangle {
	height: 263px;
	width: 258px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	position: relative;
}

.rectangle:nth-child(1) {
	background-color: red;
}

.rectangle:nth-child(2) {
	background: #282d30;
}
.rectangle:nth-child(3) {
	background-color: #fbfbfb;
}
