.objective {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	padding-left: 109px;
	margin-top: 36px;
	width: 100%;
	min-width: 925px;

	@media (min-width: 1000px) and (max-width: 1290px) {
		min-width: 896px;
		padding-left: 10px;
		padding-right: 20px;
		width: 100%;
		justify-content: space-between;
		position: absolute;
		top: 453px;
	}
}

.objective-firefox {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	position: absolute;
	bottom: 0;
	padding-left: 109px;
	width: 67%;
	@media (min-width: 1020px) and (max-width: 1290px) {
		padding-left: 10px;
		padding-right: 20px;
		width: 100%;
		justify-content: space-between;
	}
}

.rectangle {
	height: 263px;
	width: 258px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	position: relative;
}

.rectangle:nth-child(1) {
	background-color: red;
}

.rectangle:nth-child(2) {
	background: #282d30;
}
.rectangle:nth-child(3) {
	background-color: #fbfbfb;
}

.recharts-responsive-container {
	width: 99%;
}
