.objective {
	display: flex;
	gap: 30px;

	margin-top: 36px;
	@media (min-width: 1020px) and (max-width: 1290px) {
		padding-left: 10px;
		width: 100%;
		justify-content: space-evenly;
	}
}

.objective-firefox {
	display: flex;
	gap: 30px;
	position: absolute;
	bottom: 0;
	@media (min-width: 1020px) and (max-width: 1290px) {
		padding-left: 10px;
		width: 100%;
		justify-content: space-evenly;
	}
}

.rectangle {
	height: 263px;
	width: 258px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	position: relative;
}

.rectangle:nth-child(1) {
	background-color: red;
}

.rectangle:nth-child(2) {
	background: #282d30;
}
.rectangle:nth-child(3) {
	background-color: #fbfbfb;
}
