.score-block {
	position: relative;
}

.today_score_title {
	margin-top: 24px;
	margin-left: 30px;
	color: #20253a;
	font-family: Roboto;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}

.score-percentage {
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	color: #20253a;
}

.score-block .radialchart-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background: white !important;
	border-radius: 50%;
	height: 158px !important;
	width: 158px !important;
	top: 60%;
}

.recharts-default-legend {
	text-align: center;
}

.score-block .recharts-responsive-container {
	position: absolute;
	top: 0;
}
