header {
	font-family: Roboto;
	font-style: normal;

	.user-firstname {
		color: red;
	}

	p:nth-child(1) {
		font-size: 44px;
		font-weight: 500;
		margin-bottom: 13px;
	}
	p:nth-child(2) {
		font-size: 18px;
		font-weight: 400;
	}
}
