.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 91px;
	padding-left: 29px;
	padding-right: 87px;
	align-items: center;
	background-color: #020203;
	&-link {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
	}
}

//
