.dashboard {
	width: 100%;
	height: 832px;
	position: relative;
	margin: 68px auto 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 13px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header header header header'
		'graphic-bar graphic-bar graphic-bar nutrients-bar'
		'graphic-bar graphic-bar graphic-bar nutrients-bar'
		'objective objective objective nutrients-bar'
		'objective objective objective nutrients-bar';

	@media (max-width: 1290px) {
		height: 923px;
		padding-left: 10px;
		margin: 10px auto 0;

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 50px 60px 60px 60px;
		grid-template-areas:
			'header header header '
			'graphic-bar graphic-bar graphic-bar'
			'objective objective objective '
			'nutrients-bar nutrients-bar nutrients-bar';
	}
}

.header {
	grid-area: header;
}

.nutrients-bar {
	grid-area: nutrients-bar;
}

.graphic-bar {
	grid-area: graphic-bar;
}

.objective {
	grid-area: objective;
}
